 .u-section-1 {
  background-image: url("images/e6d21bcbbb2085316d1f7969d08d2c7426584ada362a8cfcae43121b3e4ed8fc4619a2b9a88352d3fb91f173abbe1f8bef93a99f97e8c26be35e67_12801.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 158px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 18px auto 0 512px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: -26px 467px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 312px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 75px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 139px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1152px;
}

.u-section-2 .u-line-1 {
  position: absolute;
  top: 40px;
  left: 281px;
  height: 320px;
  transform-origin: center top 0px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 46px auto 0 95px;
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-decoration: underline !important;
  margin: -29px auto 0 327px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 21px auto 0 95px;
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 585px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 249px;
  height: auto;
  margin: -30px 234px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 289px;
  height: 175px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-1 {
  width: 24px;
  height: 24px;
  margin: -155px 264px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -22px 11px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 14px;
  height: 32px;
  margin: 8px 269px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: 12px 259px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -26px 29px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 29px;
  height: 29px;
  margin: 17px 259px 0 auto;
  padding: 3px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: -27px 2px 0 334px;
}

.u-section-2 .u-icon-4 {
  width: 14px;
  height: 19px;
}

.u-section-2 .u-shape-2 {
  width: 293px;
  height: 64px;
  margin: 11px 4px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -43px 49px 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -22px 218px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: -30px auto 0 20px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  margin: 8px auto 0 13px;
  padding: 0 33px 0 32px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: -199px auto 0 95px;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 24px auto 0 95px;
  padding: 0;
}

.u-section-2 .u-text-8 {
  text-decoration: underline !important;
  margin: 228px auto 0 327px;
}

.u-section-2 .u-group-2 {
  width: 585px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 263px;
  height: auto;
  margin: 20px 228px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 260px;
  height: 179px;
  margin: 22px auto 0 19px;
}

.u-section-2 .u-icon-6 {
  width: 24px;
  height: 24px;
  margin: -157px 264px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -22px 11px 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 14px;
  height: 32px;
  margin: 8px 269px 0 auto;
}

.u-section-2 .u-icon-7 {
  width: 29px;
  height: 29px;
  margin: 12px 259px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -26px 29px 0 auto;
}

.u-section-2 .u-icon-8 {
  width: 29px;
  height: 29px;
  margin: 17px 259px 0 auto;
  padding: 3px;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  margin: -27px 2px 0 334px;
}

.u-section-2 .u-icon-9 {
  width: 14px;
  height: 19px;
}

.u-section-2 .u-shape-4 {
  width: 293px;
  height: 64px;
  margin: 11px 4px 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: -43px 49px 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: -22px 218px 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1rem;
  font-weight: 700;
  margin: -30px auto 0 20px;
}

.u-section-2 .u-btn-6 {
  font-size: 0.875rem;
  background-image: none;
  margin: 8px auto 0 13px;
  padding: 0 33px 0 32px;
}

.u-section-2 .u-group-3 {
  width: 585px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 260px;
  height: auto;
  margin: 74px 234px 49px auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 252px;
  height: 184px;
  margin: 13px auto 0 37px;
}

.u-section-2 .u-icon-11 {
  width: 24px;
  height: 24px;
  margin: -155px 264px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -22px 11px 0 auto;
}

.u-section-2 .u-shape-5 {
  width: 14px;
  height: 32px;
  margin: 8px 269px 0 auto;
}

.u-section-2 .u-icon-12 {
  width: 29px;
  height: 29px;
  margin: 12px 259px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-16 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -28px 23px 0 auto;
}

.u-section-2 .u-icon-13 {
  width: 29px;
  height: 29px;
  margin: 19px 259px 0 auto;
  padding: 3px;
}

.u-section-2 .u-text-17 {
  font-size: 0.875rem;
  margin: -27px 2px 0 334px;
}

.u-section-2 .u-icon-14 {
  width: 14px;
  height: 19px;
}

.u-section-2 .u-shape-6 {
  width: 293px;
  height: 64px;
  margin: 11px 4px 0 auto;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  margin: -43px 46px 0 auto;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  margin: -22px 218px 0 auto;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  font-weight: 700;
  margin: -31px auto 0 20px;
}

.u-section-2 .u-btn-7 {
  font-size: 0.875rem;
  background-image: none;
  margin: 9px auto 0 13px;
  padding: 0 33px 0 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -28px;
    margin-left: 269px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 112px;
    margin-left: 270px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 300px;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 206px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 135px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 207px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 135px;
  }

  .u-section-2 .u-group-3 {
    margin-right: 135px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 155px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 244px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 239px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 239px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -34px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 201px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 155px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 244px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 239px;
  }

  .u-section-2 .u-icon-8 {
    margin-right: 239px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -34px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 201px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-11 {
    margin-right: 244px;
  }

  .u-section-2 .u-icon-12 {
    margin-right: 239px;
  }

  .u-section-2 .u-icon-13 {
    margin-right: 239px;
  }

  .u-section-2 .u-text-17 {
    margin-top: -34px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 201px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 98px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 154px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 150px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 127px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 98px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 154px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 150px;
  }

  .u-section-2 .u-icon-8 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 127px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
  }

  .u-section-2 .u-icon-11 {
    margin-right: 154px;
  }

  .u-section-2 .u-icon-12 {
    margin-right: 150px;
  }

  .u-section-2 .u-icon-13 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 127px;
  }
}